{% extends '::base.html.twig' %}
{% block title %}Liste All{% endblock %}
{% block body %}
	<div class="container">
		{% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('errors') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        Les sujet de l'utilisateur connecté 
        <br/><br/>
        {% if app.user is not null %}
			{% for sujet in sujets %}
				{% if is_granted('ROLE_ADMIN') or sujet.isAuthor(app.user) %}
					{{ sujet.title }} | 
					<a href="{{ path('oneSujet', {id : sujet.id}) }}">Voir plus</a> |
					<a href="{{ path('titleSujet', {title : sujet.title}) }}">Voir par titre</a> |
					<a href="{{ path('modifySujet', {id : sujet.id}) }}">Modifier</a> |
					<a href="{{ path('removeSujet', {id : sujet.id}) }}">Supprimer</a>
					<br/>
				{% endif %}
			{% endfor %}
		{% endif %}
		<br/>

		Tout les sujet
		<br/><br/>
		{% for sujet in sujets %}
			{{ sujet.title }} | 
			<a href="{{ path('oneSujet', {id : sujet.id}) }}">Voir plus</a> |
			<a href="{{ path('titleSujet', {title : sujet.title}) }}">Voir par titre</a> |
			<a href="{{ path('removeSujet', {id : sujet.id}) }}">Supprimer</a>
			<br/>
		{% endfor %}
	</div>
{% endblock %}
